In [1]:
import pandas as pd
import numpy as np

In [6]:
df=pd.DataFrame(pd.date_range(start='01/01/2025',periods=30,freq='D'))

In [13]:
df.columns=['Day']

In [14]:
df

          Day
0  2025-01-01
1  2025-01-02
2  2025-01-03
3  2025-01-04
4  2025-01-05
5  2025-01-06
6  2025-01-07
7  2025-01-08
8  2025-01-09
9  2025-01-10
10 2025-01-11
11 2025-01-12
12 2025-01-13
13 2025-01-14
14 2025-01-15
15 2025-01-16
16 2025-01-17
17 2025-01-18
18 2025-01-19
19 2025-01-20
20 2025-01-21
21 2025-01-22
22 2025-01-23
23 2025-01-24
24 2025-01-25
25 2025-01-26
26 2025-01-27
27 2025-01-28
28 2025-01-29
29 2025-01-30

In [20]:
import datetime
df['Day']=pd.to_datetime(df['Day'])
df['Weekday']=df['Day'].dt.day_name()

In [21]:
weekday_map = {'Monday':1,
               'Tuesday':2,
               'Wednesday':3,
               'Thursday':4,
               'Friday':5,
               'Saturday':6,
               'Sunday':7
}
df['ordinal Encoding']=df['Weekday'].map(weekday_map)

In [22]:
df

          Day    Weekday  ordinal Encoding
0  2025-01-01  Wednesday                 3
1  2025-01-02   Thursday                 4
2  2025-01-03     Friday                 5
3  2025-01-04   Saturday                 6
4  2025-01-05     Sunday                 7
5  2025-01-06     Monday                 1
6  2025-01-07    Tuesday                 2
7  2025-01-08  Wednesday                 3
8  2025-01-09   Thursday                 4
9  2025-01-10     Friday                 5
10 2025-01-11   Saturday                 6
11 2025-01-12     Sunday                 7
12 2025-01-13     Monday                 1
13 2025-01-14    Tuesday                 2
14 2025-01-15  Wednesday                 3
15 2025-01-16   Thursday                 4
16 2025-01-17     Friday                 5
17 2025-01-18   Saturday                 6
18 2025-01-19     Sunday                 7
19 2025-01-20     Monday                 1
20 2025-01-21    Tuesday                 2
21 2025-01-22  Wednesday                 3
22 2025-01-23   Thursday                 4
23 2025-01-24     Friday                 5
24 2025-01-25   Saturday                 6
25 2025-01-26     Sunday                 7
26 2025-01-27     Monday                 1
27 2025-01-28    Tuesday                 2
28 2025-01-29  Wednesday                 3
29 2025-01-30   Thursday                 4